@import '../layout/layout.module.scss';

.button {
    font-family: $dm-sans;
    color: $black;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 2px 4px 4px $black-shadow;
    position: fixed;
}

.button-text {
    padding: 5px 8px;
    text-decoration: underline;
}

.button-arrow {
    padding: 0 12px;
    font-size: 28px;
    text-decoration: none;
}

@include desktop {

    .button-right {
        top: 25px;
        right: 70px;
    }

    .button-left {
        top: 25px;
        left: 564px;
    }
}

@include laptop {

    .button-right {
        top: 25px;
        right: 30px;
    }

    .button-left {
        top: 25px;
        left: 464px;
    }
}

@include tablet {
    
}

@include phone {
    
}