@import '../layout/layout.module.scss';

.sidebar-container {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    padding: 0 0 0 34px;
}

.sidebar-container-scroll {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    padding: 0 0 0 34px;
}

.header {
    color: $grey-text;
    font-family: $dm-sans;
    font-weight: 700;
}

.sub-header {
    color: $grey-text;
    font-family: $dm-sans;   
    font-weight: 400;
}

.list {
    margin: 0;
    padding: 0;
}

.list-element {
    color: $grey-text;
    font-family: $dm-sans;
    font-weight: 400;
    line-height: 1.5em;
}

.list-tracks {
    list-style: inside;
    list-style-type: decimal;
}

.list-books {
    list-style: inside;
    list-style-type: '- ';
}

.list-books-read {
    list-style-type: '✓ ';
}

.list-link {
    color: $black;
    text-decoration: underline;
}

@include desktop {
    .sidebar-container {
        top: 76px;
        width: 175px;
    }

    .header {
        font-size: 24px;
        padding: 44px 0 4px 0;
    }

    .sub-header {
        font-size: 16px; 
        padding: 0 0 18px 0;
    }

    .list-element {
        font-size: 16px;
    }

    .list-books {
        .list-element {
            padding-bottom: 16px;
        }
    }
}

@include laptop {
    .sidebar-container {
        top: 65px;
        width: 160px;
    }

    .header {
        font-size: 18px;
        padding: 32px 0 2px 0;
    }

    .sub-header {
        font-size: 14px; 
        padding: 0 0 18px 0;
    }

    .list-element {
        font-size: 16px;
    }

    .list-books {
        .list-element {
            padding-bottom: 12px;
        }
    }
}

@include tablet {
    
}

@include phone {
    
}