@import '../layout/layout.module.scss';

.sidebar-container {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    margin: 0 0 0 34px;
}

.header {
    color: $black;
    font-family: $dm-sans;
    font-weight: 700;
}

.sub-header {
    color: $black;
    font-family: $dm-sans;    
}

.list {
    margin: 0;
    padding: 0;
}

.list-element {
    color: $black;
    font-family: $dm-sans;
    list-style: none;
    font-weight: 400;
    
}

@media (max-height: 700px) {

    .tools-container {
        background-color: $white;
        overflow-y: auto;
        padding: 12px 12px 0 12px;
        border-radius: 8px;
        margin: 32px 0;
    }

    .contact-container {
        padding: 0 12px;
        margin-top: 32px;
    }
}

@include desktop {
    .sidebar-container {
        top: 76px;
        width: 175px;
        max-height: calc(100vh - 76px);
    }

    .contact-container {
        margin-top: 44px;
    }

    .tools-container {
        margin-top: 44px;
    }

    .header {
        font-size: 24px;
        margin: 0 0 18px 0;
    }

    .sub-header {
        font-weight: 700;
        font-size: 16px;
        margin: 0 0 6px 0;
    }

    .list {
        margin-bottom: 12px;
    }

    .list-element {
        font-size: 16px;
    }
}

@include laptop {
    .sidebar-container {
        top: 65px;
        width: 160px;
        max-height: calc(100vh - 65px);
    }

    .contact-container {
        margin-top: 32px;
    }

    .tools-container {
        margin-top: 32px;
    }

    .header {
        font-size: 18px;
        margin: 0 0 18px 0;
    }

    .sub-header {
        font-weight: 700;
        font-size: 16px;
        margin: 0 0 6px 0;
    }

    .list {
        margin-bottom: 10px;
    }

    .list-element {
        font-size: 16px;
    }
}

@include tablet {
    
}

@include phone {
    
}