@import '../layout/layout.module.scss';

.home-section-container {

}

.home-section-header {
    font-family: $dm-sans;
    font-weight: 400;
    color: $grey-text;
    padding: 34px 0 0 34px;
}

@include desktop {
    .home-section-header {
        font-size: 32px;
    }
}

@include laptop {
    .home-section-header {
        font-size: 24px;
    }
}

@include tablet {
    
}

@include phone {
    
}